<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap css -->
    <link rel = "stylesheet" href = "bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- custom css -->
    <link rel = "stylesheet" href = "../static/css/about.css">
    <link rel = "stylesheet" href = "../static/css/headerfooter.css">
</head>
<body>
<!-- bg-white -->
    <!-- navbar -->
    <section id = "navigation">
      <div class="container-fluid">

      <nav class = "navbar navbar-expand-lg navbar-light  py-4 fixed-top">
          <div class = "container">
              <a class = "navbar-brand d-flex justify-content-between align-items-center order-lg-0" href = "index.html">
                  <i class="fa-sharp fa-solid fa-spa fa-3x logo-icon align-items-center"></i>
                  <span class = "text-uppercase fw-lighter ms-2 logo-title">CULTIVO</span>
              </a>

              <div class = "order-lg-2 nav-btns">
                <div class="dropdown text-end">
                  <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://avatars.githubusercontent.com/u/92664718?v=4" alt="mdo" width="32" height="32" class="rounded-circle">
                  </a>
                  <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="#">My Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="http://localhost:5000">Sign out</a></li>
                  </ul>
                </div>
              </div>

              <button class = "navbar-toggler border-0" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navMenu">
                  <span class = "navbar-toggler-icon"></span>
              </button>

              <div class = "collapse navbar-collapse order-lg-1" id = "navMenu">
                  <ul class = "navbar-nav mx-auto text-center">
                      <li class = "nav-item px-2 py-2">
                          <a class = "nav-link text-uppercase text-dark" href = "http://localhost:5000/home">home</a>
                      </li>
                      <li class = "nav-item px-2 py-2">
                          <a class = "nav-link text-uppercase text-dark" href = "http://localhost:5000/contactus">contact Us</a>
                      </li>
                      <li class = "nav-item px-2 py-2 active">
                          <a class = "nav-link text-uppercase text-dark" href = "#header">About Us</a>
                      </li>
                      <li class = "nav-item px-2 py-2 active">
                        <a class = "nav-link text-uppercase text-dark" href = "http://localhost:5000/browseproducts">Browse Products</a>
                    </li>
                      <!-- <li class = "nav-item px-2 py-2">
                          <a class = "nav-link text-uppercase text-dark" href = "#blogs">blogs</a>
                      </li>
                      <li class = "nav-item px-2 py-2">
                          <a class = "nav-link text-uppercase text-dark" href = "#about">about us</a>
                      </li>
                      <li class = "nav-item px-2 py-2 border-0">
                          <a class = "nav-link text-uppercase text-dark" href = "#popular">popular</a>
                      </li> -->
                  </ul>
              </div>
          </div>
      </nav>
    </div>
  </section>

    <!-- end of navbar -->


<section id="aboutUs">

  <div class="container col-xxl-8 px-4 py-3">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../static/images/fAbout1.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Who are we?🤔</h1>
        <p class="lead">We are Cultivo. A web application that can reside in both your mobile phone and laptop device which provides you with infomation of proper fertilizer needed to be used.</p>
      </div>
    </div>
  </div>


  <div class="container col-xxl-8 px-4 py-3">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">What we do..🤔</h1>
        <p class="lead">Cultivo provides users with information of the fertilizers they should use according to the soil type and climate conditions of the location of the user.</p>
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../static/images/fAbout2.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>



  <!-- <div class="container text-center img-mng">
    <div>
      <h3 style = "margin:40px">Meet Our Team</h3>
    </div>
    <div class="row">
      <div class="col-sm-6"><p> <img src="images/shraddha.jpeg" alt=""> Shraddha Wakchaure <br /> BE-IT, PICT [Full Stack Web Developer]</p></div>
    </div>
    <div class="row">
      <div class="col-sm-6 align-img"><img src="https://media.licdn.com/dms/image/C4E03AQGqQ_rQ-5c6qg/profile-displayphoto-shrink_800_800/0/1646616541657?e=1676505600&v=beta&t=WLsxppJvbDMx44asT3awxio5PuiXM81P9pRpeoqVkkE" alt=""> </div>
      <div class="col-sm-6"> <p>Rashi Khandelwal<br /> BE-IT, PICT [Full Stack Web Developer]</p></div>
    </div>
    <div class="row">
      <div class="col-sm-6 align-img"><img src="https://media.licdn.com/dms/image/D4D03AQGV79M5mbQOLA/profile-displayphoto-shrink_800_800/0/1669293289650?e=2147483647&v=beta&t=o2iiEk1H7prCqVgYkr6nULnv2dM2TO1fEe81pTo9ss8" alt=""> </div>
      <div class="col-sm-6"> <p>Shraddha Pawar<br /> BE-IT, PICT [Full Stack Web Developer]</p></div>
    </div>
    <div class="row">
      <div class="col-sm-6 align-img"><img src="https://media.licdn.com/dms/image/C4D03AQGdIW13-ng4rg/profile-displayphoto-shrink_100_100/0/1610890322730?e=1676505600&v=beta&t=dOs3HXbQPgOeEzYo6S8K1xtnQ9WDEeGtixrWXCC8dfk" alt=""> </div>
      <div class="col-sm-6"><p>Sakshi Shete<br /> BE-IT, PICT [Front End Web Developer]</p></div>
    </div>
  </div> -->

<section class="team">
  <h3 style= "text-align: center">Meet Our Team - Tech Avengers</h3>
  <div class="container abc">
          <div class="row">

                  <!-- team section-->
                  <!--4th member-->

                          <div class="col-md-2 col-sm-12">
                              <div class="our-team">
                                  <div class="pic">
                                      <img src="https://media.licdn.com/dms/image/C4D03AQHmRuX6UH3-Iw/profile-displayphoto-shrink_800_800/0/1596612098934?e=1676505600&v=beta&t=jqnJsp1FmwdPApQ-PiiKa5k1QCcCYz73SfauQc20Rb8" alt="">
                                  </div>
                                  <h3 class="title">Javed Iqbal Mohammed</h3>
                                  <span class="post">Mentor</span>

                                   <!--social icon-->

                              </div>
                          </div>
                  <!--1st member-->
<div class="col-md-2 col-sm-12">
             <div class="our-team">
                 <div class="pic">
                     <img src="../static/images/shraddha1.jpeg">
                 </div>
                 <h3 class="title">Shraddha Wakchaure</h3>
                 <span class="post">BE, IT</span>

                 <!--social icon-->

             </div>
         </div>

 <!--2nd member-->

         <div class="col-md-2 col-sm-12">
             <div class="our-team">
                 <div class="pic">
                     <img src="https://media.licdn.com/dms/image/C4E03AQGqQ_rQ-5c6qg/profile-displayphoto-shrink_800_800/0/1646616541657?e=1676505600&v=beta&t=WLsxppJvbDMx44asT3awxio5PuiXM81P9pRpeoqVkkE">
                 </div>
                 <h3 class="title">Rashi Khandelwal</h3>
                 <span class="post">BE, IT</span>

                  <!--social Icon-->

             </div>
         </div>

 <!--3rd member-->

         <div class="col-md-2 col-sm-12">
             <div class="our-team">
                 <div class="pic">
                     <img src="https://media.licdn.com/dms/image/D4D03AQGV79M5mbQOLA/profile-displayphoto-shrink_800_800/0/1669293289650?e=2147483647&v=beta&t=o2iiEk1H7prCqVgYkr6nULnv2dM2TO1fEe81pTo9ss8">
                 </div>
                 <h3 class="title">Shraddha Pawar</h3>
                 <span class="post">TE, IT</span>

                  <!--social icon-->

             </div>
         </div>

 <!--4th member-->

         <div class="col-md-2 col-sm-12">
             <div class="our-team">
                 <div class="pic">
                     <img src="../static/images/sakshi.jpeg" alt="">
                 </div>
                 <h3 class="title">Sakshi <br> Shete</h3>
                 <span class="post">BE, EnTc</span>

                  <!--social icon-->

             </div>
         </div>


         <!--4th member-->

                 <div class="col-md-2 col-sm-12">
                     <div class="our-team">
                         <div class="pic">
                             <img src="https://media.licdn.com/dms/image/D4D03AQHVq4neGQZgLw/profile-displayphoto-shrink_400_400/0/1665329438142?e=1676505600&v=beta&t=hpUsG-WoDj3S6qbd_WRulym5MH4-xWNt0VjQG9vr3No" alt="">
                         </div>
                         <h3 class="title">Anju <br> Mhaske</h3>
                         <span class="post">K-Team SPOC</span>

                          <!--social icon-->

                     </div>
                 </div>




          </div>
      </div>

</section>




















  <!-- <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">What is CULTIVO..🤔</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="images/farmerAbout.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div> -->


</section>

















<!-- bg-dark -->
    <!-- footer -->
    <section id="foot-data">
      <footer class = " py-5">
          <div class = "container">
              <div class = "row text-white g-4">
                  <div class = "col-md-6 col-lg-3">
                    <i class="fa-sharp fa-solid fa-spa fa-2x logo-icon align-items-center"></i>
                      <a class = "text-uppercase text-decoration-none brand text-white" href = "index.html">CULTIVO</a>
                      <p class = "text-black mt-3">A web application that can reside in both your mobile phone and laptop device which provides you with infomation of proper fertilizer needed to be used.</p>
                  </div>
<!-- text-muted -->
                  <div class = "col-md-6 col-lg-3">
                      <h5 class = "fw-light">Links</h5>
                      <ul class = "list-unstyled ">
                          <li class = "my-3">
                              <a href = "#" class = " text-decoration-none text-black">
                                  <i class = "fas fa-chevron-right me-1"></i> Home
                              </a>
                          </li>
                          <li class = "my-3">
                              <a href = "#" class = " text-decoration-none text-black">
                                  <i class = "fas fa-chevron-right me-1"></i> Contact Us
                              </a>
                          </li>
                          <li class = "my-3">
                              <a href = "#" class = " text-decoration-none text-black">
                                  <i class = "fas fa-chevron-right me-1"></i> Chat with Cultivo
                              </a>
                          </li>
                          <li class = "my-3">
                              <a href = "#" class = " text-decoration-none text-black">
                                  <i class = "fas fa-chevron-right me-1"></i> About Us
                              </a>
                          </li>
                      </ul>
                  </div>

                  <div class = "col-md-6 col-lg-3">
                      <h5 class = "fw-light mb-3">Contact Us</h5>
                      <div class = "d-flex justify-content-start align-items-start my-2 text-black">
                          <span class = "me-3">
                              <i class = "fas fa-map-marked-alt"></i>
                          </span>
                          <span class = "fw-light">
                              Dhankawadi, Pune, 411043, India
                          </span>
                      </div>
                      <div class = "d-flex justify-content-start align-items-start my-2 text-black">
                          <span class = "me-3">
                              <i class = "fas fa-envelope"></i>
                          </span>
                          <span class = "fw-light">
                              cultivo.support@gmail.com
                          </span>
                      </div>
                      <div class = "d-flex justify-content-start align-items-start my-2 text-black">
                          <span class = "me-3">
                              <i class = "fas fa-phone-alt"></i>
                          </span>
                          <span class = "fw-light">
                              +9786 6776 236
                          </span>
                      </div>
                  </div>

                  <div class = "col-md-6 col-lg-3">
                      <h5 class = "fw-light mb-3">Follow Us</h5>
                      <div>
                          <ul class = "list-unstyled d-flex">
                              <li>
                                  <a href = "#" class = "text-black text-decoration-none fs-4 me-4">
                                      <i class = "fab fa-facebook-f"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href = "#" class = "text-black text-decoration-none fs-4 me-4">
                                      <i class = "fab fa-twitter"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href = "#" class = "text-black text-decoration-none fs-4 me-4">
                                      <i class = "fab fa-instagram"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href = "#" class = "text-black text-decoration-none fs-4 me-4">
                                      <i class = "fab fa-pinterest"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>

      </footer>
    </section>

    <div class="copyright">
      <p>Made with ❤️ in India</p>
    </div>
    <!-- end of footer -->


        <!-- jquery -->
        <script src = "js/jquery-3.6.0.js"></script>
        <!-- isotope js -->
        <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
        <!-- bootstrap js -->
        <script src = "bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/c225c1452e.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <!-- custom js -->
        <script src = "js/script.js"></script>
    </body>
    </html>