<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- fontawesome cdn -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- bootstrap css -->
  <link rel = "stylesheet" href = "bootstrap-5.0.2-dist/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
 
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap css -->
    <link rel = "stylesheet" href = "bootstrap-5.0.2-dist/css/bootstrap.min.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- custom css -->
    <link rel = "stylesheet" href = "../static/css/homePage.css">
    <link rel = "stylesheet" href = "../static/css/headerfooter.css">
</head>
<body>
<!-- bg-white -->
    <!-- navbar -->
    <section id = "navigation">
      <div class="container-fluid">

      <nav class = "navbar navbar-expand-lg navbar-light  py-4 fixed-top">
          <div class = "container">
              <a class = "navbar-brand d-flex justify-content-between align-items-center order-lg-0" href = "index.html">
                  <i class="fa-sharp fa-solid fa-spa fa-3x logo-icon align-items-center"></i>
                  <span class = "text-uppercase fw-lighter ms-2 logo-title">CULTIVO</span>
              </a>

              <div class = "order-lg-2 nav-btns">
                <div class="dropdown text-end">
                  <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://avatars.githubusercontent.com/u/92664718?v=4" alt="mdo" width="32" height="32" class="rounded-circle">
                  </a>
                  <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="#">My Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="http://localhost:5000">Sign out</a></li>
                  </ul>
                </div>
              </div>

              <button class = "navbar-toggler border-0" type = "button" data-bs-toggle = "collapse" data-bs-target = "#navMenu">
                  <span class = "navbar-toggler-icon"></span>
              </button>

              <div class = "collapse navbar-collapse order-lg-1" id = "navMenu">
                  <ul class = "navbar-nav mx-auto text-center" style="font-size: 15px">
                      <li class = "nav-item px-2 py-2">
                          <a class = "nav-link text-uppercase text-dark" href = "#">home</a>
                      </li>
                      <li class = "nav-item px-2 py-2">
                          <a class = "nav-link text-uppercase text-dark" href = "http://localhost:5000/contactus">contact Us</a>
                      </li>
                      <li class = "nav-item px-2 py-2 active">
                          <a class = "nav-link text-uppercase text-dark" href = "http://localhost:5000/aboutus">About Us</a>
                      </li>
                      <li class = "nav-item px-2 py-2 active">
                        <a class = "nav-link text-uppercase text-dark" href = "http://localhost:5000/browseproducts">Browse Products</a>
                    </li>
                      <!-- <li class = "nav-item px-2 py-2">
                          <a class = "nav-link text-uppercase text-dark" href = "#blogs">blogs</a>
                      </li>
                      <li class = "nav-item px-2 py-2">
                          <a class = "nav-link text-uppercase text-dark" href = "#about">about us</a>
                      </li>
                      <li class = "nav-item px-2 py-2 border-0">
                          <a class = "nav-link text-uppercase text-dark" href = "#popular">popular</a>
                      </li> -->
                  </ul>
              </div>
          </div>
      </nav>
    </div>
  </section>

    <!-- end of navbar -->


<section id="prediction-block">
    <div class="container">
        <div class=" text-center mt-5 ">
            <h1 >Predict Fertilizer Type</h1>
        </div>
    <div class="row ">
      <div class="col-lg-7 mx-auto">
        <div class="card mt-2 mx-auto p-4 bg-light">
            <div class="card-body bg-light">
       
            <div class = "container prediction-block">
            <form id="contact-form" role="form" action="http://localhost:5000/home" method="post">
    
            
    
            <div class="controls">
    
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="loc">City/Village *</label>
                            <input id="loc" type="text" name="loc" class="form-control" placeholder="Please enter your City/Village *" required="required" data-error="Location is required.">
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="moist">Soil Moisture *</label>
                            <input id="moist" type="number" name="moist" class="form-control" placeholder="Please enter Soil Moisture *" required="required" data-error="Soil Moisture is required." min=0 max=100>
                                                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="soil_type" name="soil_type" type="text">Soil Type *</label>
                            <select id="soil_type" name="soil_type" class="form-control" required="required" data-error="Please specify Soil Type.">
                                <option value="none" selected disabled hidden>Select an Option</option>
                                <option value='0'>Black</option>
                                <option value='1'>Clayey</option>
                                <option value='2'>Loamy</option>
                                <option value='3'>Red</option>
                                <option value='4'>Sandy</option>
                                </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="crop_type" name="crop_type" type="text">Crop Name *</label>
                            <select id="crop_type" name="crop_type" class="form-control" required="required" data-error="Please specify Type of Crop.">
                                <option value="none" selected disabled hidden>Select an Option</option>
                                <option value='0'>Barley</option>
                                <option value='1'>Cotton</option>
                                <option value='2'>Ground Nuts</option>
                                <option value='3'>Maize</option>
                                <option value='4'>Millets</option>
                                <option value='5'>Oil seeds	</option>
                                <option value='6'>Paddy</option>
                                <option value='7'>Pulses</option>
                                <option value='8'>Sugarcane</option>
                                <option value='9'>Tobacco</option>
                                <option value='10'>Wheat</option>
                            </select>
        
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="N">Nitrogen(N) *</label>
                                <input id="N" type="number" name="N" class="form-control" placeholder="Please specify Nitrogen % *" required="required" data-error="Nitrogen % is required." min=0 max=100>
                                
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="P">Phosphorus(P) *</label>
                                <input id="P" type="number" name="P" class="form-control" placeholder="Please specify Phosporus % *" required="required" data-error="Phosporus % is required." min=0 max=100>
                                                                </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="K">Potassium(K) *</label>
                                <input id="K" type="number" name="K" class="form-control" placeholder="Please specify Potassium % *" required="required" data-error="Potassiunm % is required." min=0 max=100>
                                                                </div>
                        </div>
                    </div>
                <br> 
                <div class="row">
                    <div class="col-md-12">
                    <input type="submit" class="btn submit-btn btn-success btn-send  pt-2 btn-block" style="font-weight: 300;" value="Submit" >
                    </div>
                </div>
                <br> 
                {% if result %}
                <div class="card text-center" id="destination_div" style="background-color: #68B984;">
                    <div class="card-body" style="color: white;">
                      <p class="card-text"><h2 style="font-size:large;"> Use {{ result }}  for higher product yields!!</h2></p>
                      <a class="btn btn-primary" onclick="getProducts(result='{{ result }}')">Browse Products</a>
                      <a href="http://localhost:5000/openStreetMap" class="btn btn-primary">Show nearby shops</a>
                    </div>
                </div>
                {% endif %}
        </div>
         </form>
        </div>
            </div>
    </div>
        <!-- /.8 -->
    
    </div>
    <!-- /.row-->
    </div>
</div>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chat support</h4>
                    <p class="chatbox__description--header">Hi. I'm Cultivo . How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img id="button-img" src="../static/images/chat-icon.jpeg" /></button>
        </div>
    </div>
</div>  
</section>

<!-- bg-dark -->
    <!-- footer -->
    <section id="foot-data">
      <footer class = " py-5">
          <div class = "container" style="font-size: 15px">
              <div class = "row text-white g-4">
                  <div class = "col-md-6 col-lg-3">
                    <h2><i class="fa-sharp fa-solid fa-spa fa-2x logo-icon align-items-center"></i>
                      <a class = "text-uppercase text-decoration-none brand text-white" href = "index.html">CULTIVO</a></h2>
                      <p class = "text-black mt-3">A web application that can reside in both your mobile phone and laptop device which provides you with infomation of proper fertilizer needed to be used.</p>
                  </div>
<!-- text-muted -->
                  <div class = "col-md-6 col-lg-3">
                      <h2 class = "fw-light">Links</h2>
                      <ul class = "list-unstyled ">
                          <li class = "my-3">
                              <a href = "#" class = " text-decoration-none text-black">
                                  <i class = "fas fa-chevron-right me-1"></i> Home
                              </a>
                          </li>
                          <li class = "my-3">
                              <a href = "#" class = " text-decoration-none text-black">
                                  <i class = "fas fa-chevron-right me-1"></i> Contact Us
                              </a>
                          </li>
                          <li class = "my-3">
                              <a href = "#" class = " text-decoration-none text-black">
                                  <i class = "fas fa-chevron-right me-1"></i> Chat with Cultivo
                              </a>
                          </li>
                          <li class = "my-3">
                              <a href = "#" class = " text-decoration-none text-black">
                                  <i class = "fas fa-chevron-right me-1"></i> About Us
                              </a>
                          </li>
                      </ul>
                  </div>

                  <div class = "col-md-6 col-lg-3">
                      <h2 class = "fw-light mb-3">Contact Us</h2>
                      <div class = "d-flex justify-content-start align-items-start my-2 text-black">
                          <span class = "me-3">
                              <i class = "fas fa-map-marked-alt"></i>
                          </span>
                          <span class = "fw-light">
                              Dhankawadi, Pune, 411043, India
                          </span>
                      </div>
                      <div class = "d-flex justify-content-start align-items-start my-2 text-black">
                          <span class = "me-3">
                              <i class = "fas fa-envelope"></i>
                          </span>
                          <span class = "fw-light">
                              cultivo.support@gmail.com
                          </span>
                      </div>
                      <div class = "d-flex justify-content-start align-items-start my-2 text-black">
                          <span class = "me-3">
                              <i class = "fas fa-phone-alt"></i>
                          </span>
                          <span class = "fw-light">
                              +9786 6776 236
                          </span>
                      </div>
                  </div>

                  <div class = "col-md-6 col-lg-3">
                      <h2 class = "fw-light mb-3">Follow Us</h2>
                      <div>
                          <ul class = "list-unstyled d-flex">
                              <li>
                                  <a href = "#" class = "text-black text-decoration-none fs-4 me-4">
                                      <i class = "fab fa-facebook-f"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href = "#" class = "text-black text-decoration-none fs-4 me-4">
                                      <i class = "fab fa-twitter"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href = "#" class = "text-black text-decoration-none fs-4 me-4">
                                      <i class = "fab fa-instagram"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href = "#" class = "text-black text-decoration-none fs-4 me-4">
                                      <i class = "fab fa-pinterest"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>

      </footer>
    </section>

    <div class="copyright">
      <p>Made with ❤️ in India</p>
    </div>
    <!-- end of footer -->


        <!-- jquery -->
        <script src = "js/jquery-3.6.0.js"></script>
        <!-- isotope js -->
        <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
        <!-- bootstrap js -->
        <script src = "bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/c225c1452e.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <!-- custom js -->
        <script src = "../static/js/chatbot.js"></script>
        <script src="../static/js/browseproducts.js"></script>
    </body>
    </html>